// src\main\resources\templates\users\register.html
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Register - CodeTrack</title>
  </head>
  <body>
    <h2>User Registration</h2>
    <form th:action="@{/users/register}" th:object="${user}" method="post">
      <div>
        <label>Username:</label>
        <input type="text" th:field="*{username}" />
        <span
          th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}"
        ></span>
      </div>
      <div>
        <label>Email:</label>
        <input type="email" th:field="*{email}" />
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" th:field="*{password}" />
        <span
          th:if="${#fields.hasErrors('password')}"
          th:errors="*{password}"
        ></span>
      </div>
      <button type="submit">Register</button>
    </form>
  </body>
</html>
